.form-center{
    left: 25%;
}

.container-background{
    background-color: #56ccff;
}


@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


.element {
  @include clearfix;
}

body > .container.{
  padding-top: 60px; 
}

.btn-pagination{
  float: right;
 
}
.not-allowed {cursor: not-allowed;}